.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  box-sizing: border-box;

}
.app {
  display: flex;
}

.header-stuff {
  background-image: url(https://teambeyond.net/wp-content/uploads/2016/07/Pokemon-Header.jpg) ;
  height: 300px;
  background-size: cover;
  border: solid 2px blue;
  text-align: center;
  font-size: 24px;
  font-family: fantasy;
  font-weight: bolder;
  ;
}

.poke-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

li {
  border: solid 3px black;
  margin: 20px;
  background-color: lightyellow;
  list-style-type: none;
  height: 400px;
  width: 300px;
}
img {
  height: 200px;
  width: 200px;
}
.link-space {
  margin-right: 20px;
}